@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&family=Nunito+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --efm-primary: #163C70;
  --efm-accent: #D4AF37;
  --efm-background: #ffffff;
  --efm-text: #333333;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--efm-text);
}
